<h1> THIS IS MY INDEX PAGE </h1>
<h1> This node os is what: "{{ansible_os_family}}" </h1>
<h1> THIS node IP Address is what: "{{ansible_os_family}}" </h1>
<h1> This node JAVA pakage is what: "{{ansible_os_family}}" </h1>